In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [74]:
hostels = pd.read_json('/jabama_hostels_info.json')

In [105]:
print('Number of hostels:', len(hostels))

Number of hostels: 82

In [117]:
hostels.columns

Index(['title', 'url', 'city', 'county', 'price'], dtype='object')

In [75]:
hostels.head(2)

,title,url,city,county,price
0,هاستل دهکده - واحد دوتخته 3,https://www.jabama.com/stay/hostel-378605,مشهد,خراسان رضوی,"300,000"
1,هاستل دهکده - واحد دوتخته,https://www.jabama.com/stay/hostel-378606,مشهد,خراسان رضوی,"200,000"

In [106]:
hostels.isnull().sum()

title     0
url       0
city      0
county    0
price     0
dtype: int64

In [107]:
hostels['city'].value_counts()

 اصفهان      33
 تهران       21
 شیراز        7
 ماسوله       6
 کرمانشاه     4
 هرمز         4
 قشم          3
 مشهد         2
 یزد          2
Name: city, dtype: int64

In [110]:
type(hostels['price'][0])

numpy.int64

In [76]:
hostels['price'] = hostels['price'].str.replace(',', '').astype(int)

In [88]:
hostels.describe()

              price
count  8.200000e+01
mean   5.948537e+05
std    3.997927e+05
min    1.400000e+05
25%    2.790000e+05
50%    4.995000e+05
75%    7.920000e+05
max    1.700000e+06

In [120]:
county_group = hostels.groupby('county')
county_group.mean('price')

                  price
city
 اصفهان    4.890303e+05
 تهران     7.224762e+05
 شیراز     2.168571e+05
 قشم       1.033333e+06
 ماسوله    1.441667e+06
 مشهد      2.500000e+05
 هرمز      5.350000e+05
 کرمانشاه  2.575000e+05
 یزد       2.650000e+05